{% extends '@layout/default.html.twig' %}

{% block title %}Unsubscribe Confirmation{% endblock %}

{% block content %}
    <p class="text-sm text-slate-500 mb-2">You are here: <a class="hover:underline decoration-2 underline-offset-4 text-sky-800 decoration-sky-800 cursor-pointer transition duration-300 ease-in-out" href="{{ path('home') }}">home</a> > <span class="italic">unsubscription confirmation</span></p>
    <h1 class="mb-1.5 text-2xl font-bold py-2">Bin Collection Reminder Service - Unsubscribe Confirmation</h1>
    <p class="my-3">
        Sorry to see you go.
        If you change your mind, you can always <a href="{{ path('home') }}" class="hover:underline decoration-2 underline-offset-4 text-sky-800 decoration-sky-800 cursor-pointer transition duration-300 ease-in-out">subscribe again</a>.
    </p>
    <p>Otherwise, if you have any questions, queries, or concerns, get in touch with us at any time by emailing <a href="mailto:bin-collection@your-regional-council.org" class="hover:underline decoration-2 underline-offset-4 text-sky-800 decoration-sky-800 cursor-pointer transition duration-300 ease-in-out">bin-collection@your-regional-council.org</a> or calling
        <a href="tel:+16175551212" title="Call us if you have a question.">+16175551212</a>.
    </p>
    <p class="font-bold my-6">Best,</p>
    <p class="font-bold">Your Regional Council.</p>
{% endblock %}
